@import './theme.sass'

.banner
  position: relative
  min-height: 6em

  .banner__trailer-arrow
    position: absolute
    top: -2em
    width: 100%
    height: 2em

  .banner__text-content
    display: flex
    flex-direction: column
    padding: 2em

  .banner__banner-title
    margin: 0 0.5em
    color: $text-dark-grey
    flex-basis: 50%

  .banner__banner-text
    margin: 0 0.5em
    color: $text-light-grey
    flex-basis: 50%

  .banner__point-arrow
    position: absolute
    bottom: -2em
    width: 100%
    height: 2em
    z-index: 2

@media screen and (min-width: 768px)
  .banner 
    flex-direction: row


.banner--primary
  background-color: $primary

.banner--accent
  background-color: $accent

.banner--small
  min-height: 4em

.banner--text-content-small
  padding: 0.5em !important

.banner--spacing
  margin-bottom: 3.5em

